# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Power BI temp files
*.tmp

.vercel
